In [1]:
import openpyxl
import pandas as pd
import numpy as np

In [2]:
# temp 파일
df = pd.read_excel('./TMPLAT_GTT007 (행정읍면동별 주제도).xls', header=1)
df.head()

    행정읍면동명  대상연도  성별  연령  비표준화지표분자  비표준화지표분모  비표준화지표  표준화지표  Unnamed: 8
0  상당구 낭성면   NaN NaN NaN       NaN       NaN     NaN    NaN         NaN
1  상당구 미원면   NaN NaN NaN       NaN       NaN     NaN    NaN         NaN
2  상당구 가덕면   NaN NaN NaN       NaN       NaN     NaN    NaN         NaN
3  상당구 남일면   NaN NaN NaN       NaN       NaN     NaN    NaN         NaN
4  상당구 문의면   NaN NaN NaN       NaN       NaN     NaN    NaN         NaN

In [3]:
# 데이터 파일
df2 = pd.read_csv('./liver_cirrhosis2020.csv', encoding='cp949')
df2.head()

,지역명,직역구분,보험료,성별,연령,비표준화지표분자,비표준화지표분모,비표준화지표지표값,표준화지표지표값
0,충청북도 청주시 흥덕구 오송읍,전체,전체,전체,전체,64,"16,224",0.39,0.41
1,충청북도 청주시 흥덕구 강내면,전체,전체,전체,전체,51,"9,049",0.56,0.53
2,충청북도 청주시 흥덕구 옥산면,전체,전체,전체,전체,60,"13,457",0.45,0.46
3,충청북도 청주시 흥덕구 운천.신봉동,전체,전체,전체,전체,88,"14,830",0.59,0.58
4,충청북도 청주시 흥덕구 복대1동,전체,전체,전체,전체,136,"37,825",0.36,0.45

### 전처리1
- 기존 엑셀데이터 지역명에 '.' 제거
- temp 파일, 데이터 파일 '제' 글자 제거

In [4]:
# 행정읍면동명과 지역명이 달라서 전처리 작업 필요
# 비교하는 두 파일 전부 행정지역명 동일하게 처리

# temp 파일에 있는 행정읍면동명 '제' 글자 제거
for i in range(0, len(df)):
    if '제' in df.loc[i, '행정읍면동명']:
        df.loc[i, '행정읍면동명'] = df.loc[i, '행정읍면동명'].replace('제','')

# 데이터 파일에 있는 지역명 '.', '제' 글자 제거
for i in range(0, len(df2)):
    if '.' in df2.loc[i, '지역명']:
        df2.loc[i, '지역명'] = df2.loc[i, '지역명'].replace('.','')
    elif '제' in df2.loc[i, '지역명']:
        df2.loc[i, '지역명'] = df2.loc[i, '지역명'].replace('제','')
print(df[11:13])
print(df2[30:32])

      행정읍면동명  대상연도  성별  연령  비표준화지표분자  비표준화지표분모  비표준화지표  표준화지표  Unnamed: 8
11  상당구 용암1동   NaN NaN NaN       NaN       NaN     NaN    NaN         NaN
12  상당구 용암2동   NaN NaN NaN       NaN       NaN     NaN    NaN         NaN
                  지역명 직역구분 보험료  성별  연령  비표준화지표분자 비표준화지표분모  비표준화지표지표값  표준화지표지표값
30  충청북도 청주시 상당구 용암1동   전체  전체  전체  전체       188   32,950       0.57      0.64
31  충청북도 청주시 상당구 용암2동   전체  전체  전체  전체       103   24,819       0.42      0.52

###  전처리2
- 동,면,읍 만 비교해서 지역명 바꾸기

In [5]:
for i in range(0, len(df)):
    for j in range(0, len(df2)):
        try:
            # 읍/면/동이 같으면 지역명 변경
            if df.loc[i, '행정읍면동명'].split()[1] == df2.loc[j, '지역명'].split()[3]:
                df2.loc[j, '지역명'] = df.loc[i, '행정읍면동명']
            
            # 읍/면/동 앞 3글자만 같으면 지역명 변경 ex 용암1, 강서1
            elif df.loc[i, '행정읍면동명'].split()[1][:3] == df2.loc[j, '지역명'].split()[3][:3]:
                df2.loc[j, '지역명'] = df.loc[i, '행정읍면동명']
                
            # 에러 발생 시 지역명 그대로
        except:
            df2.loc[j, '지역명'] = df2.loc[j, '지역명']

In [6]:
# '비표준화지표분모'에 ',' 제거해서 숫자로 변환
for i in range(0, len(df)):
    for j in range(0, len(df2)):
        if df.iloc[i][0] in df2.iloc[j][0]:
            df.loc[i, '성별'] = df2.loc[j, '성별']
            df.loc[i, '연령'] = df2.loc[j, '연령']
            df.loc[i, '비표준화지표분자'] = df2.loc[j, '비표준화지표분자']
            df.loc[i, '비표준화지표분모'] = float(df2.loc[j, '비표준화지표분모'].replace(',',''))
            df.loc[i, '비표준화지표'] = df2.loc[j, '비표준화지표지표값']
            df.loc[i, '표준화지표'] = df2.loc[j, '표준화지표지표값']
df.head()

    행정읍면동명  대상연도  성별  연령  비표준화지표분자  비표준화지표분모  비표준화지표  표준화지표  Unnamed: 8
0  상당구 낭성면   NaN  전체  전체      26.0    2121.0    1.23   0.74         NaN
1  상당구 미원면   NaN  전체  전체      57.0    4705.0    1.21   0.84         NaN
2  상당구 가덕면   NaN  전체  전체      49.0    3726.0    1.32   1.00         NaN
3  상당구 남일면   NaN  전체  전체      70.0    5528.0    1.27   0.95         NaN
4  상당구 문의면   NaN  전체  전체      40.0    3765.0    1.06   0.81         NaN

### 엑셀로 추출
- xls파일(97-2003 워크시트)은 openpyxl로 읽기 불가
- xlsx파일(엑셀 통합문서)로 변환 필요

In [51]:
# 행정읍면동명, 빈 컬럼 제거
df = df.drop(['행정읍면동명', 'Unnamed: 8'], axis=1)
df.head()

   대상연도  성별  연령  비표준화지표분자  비표준화지표분모  비표준화지표  표준화지표
0   NaN  전체  전체      26.0    2121.0    1.23   0.74
1   NaN  전체  전체      57.0    4705.0    1.21   0.84
2   NaN  전체  전체      49.0    3726.0    1.32   1.00
3   NaN  전체  전체      70.0    5528.0    1.27   0.95
4   NaN  전체  전체      40.0    3765.0    1.06   0.81

In [43]:
list(df.values[0])

[nan, '전체', '전체', 26.0, 2121.0, 1.23, 0.74]

In [66]:
# 엑셀 파일 열기
filepath = './TMPLAT_GTT007 (행정읍면동별 주제도) - 연습파일 - 복사본 - 복사본.xlsx'
wb = openpyxl.load_workbook(filepath) # Workbook 객체 생성

# 워크시트 선택
ws = wb['행정읍면동별 주제도']
ws.cell(row=1, column=1)

for rowdata in df.values:
    ws.append(list(rowdata))

    # 기존 엑셀 파일에 저장
wb.save(filepath)
wb.close()

In [58]:
# 엑셀 파일 열기
filepath = './test.xlsx'
wb = openpyxl.load_workbook(filepath)

# 워크시트 선택
ws = wb['Sheet1']

# 셀마다 df 값 입력 (B3부터 차례대로 값 입력)
for i in range(len(df)):
    for j in range(len(df.loc[0])):
        ws.cell(row=3+i, column=j+2).value = df.loc[i].values[j]

# 기존 엑셀 파일에 저장
wb.save(filepath)
wb.close()

In [63]:
# 엑셀 파일 열기
filepath = './test.xlsx'
wb = openpyxl.load_workbook(filepath)

# 워크시트 선택
ws = wb['Sheet1']
ws.cell(row=2, column=2)
for rowdata in df.values:
    ws.append(list(rowdata))

# 기존 엑셀 파일에 저장
wb.save(filepath)
wb.close()

In [30]:
# 엑셀 파일 열기
wb = openpyxl.load_workbook('TMPLAT_GTT007 (행정읍면동별 주제도) - 연습파일 - 복사본.xlsx')

# 워크시트 선택
ws = wb['행정읍면동별 주제도']


# 셀마다 df 값 입력 (B3부터 차례대로 값 입력)
for n, data in enumerate(df.values):
    for n2, i in enumerate(data[1:]):
        ws.cell(row=n+3, column=n2+2).value = i

# 기존 엑셀 파일에 저장
wb.save('TMPLAT_GTT007 (행정읍면동별 주제도) - 연습파일 - 복사본.xlsx')
wb.close()

AttributeError: 'MergedCell' object attribute 'value' is read-only